.product-page .product_card{
    display: flex;
    justify-content: center;
}
.product-page .product_card .product_images .product_image img{
    width: 400px;
}
.product-page .product_card .product_info{
    display: flex;
    flex-direction: column;
}
.product-page .product_card .product_info .product_info-header h1{
    width: 570px;
    font-weight: 500;
    font-size: 26px;
}
.product-page .product_card .product_info .product_info-handler{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.product-page .product_card .product_info .product_info-handler .product_info-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product-page .product_card .product_info .product_specification{
    display: flex;
    width: 187.5px;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(216, 216, 216,.5);
    border-radius: 10px;
}
.product-page .product_card .product_info .product_specification p{
    margin: 10px;
    font-size: 14px;
}
.product-page .product_card .product_info .product_count .product_price{
    font-weight: 700;
}
.product-page .product_card .product_info .product_count .product_handler-btns{
    display: flex;
}
.product-page .product_card .product_info .product_count .product_handler-btns button{
    border: 0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: white;
    background: rgb(173, 173, 173);
    font-size: 20px;
}
.product-page .product_card .product_info .product_count .product_handler-btns input{
    border: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
}

.product-page .product_card .product_info .product_info-handler .product_info-right{
    padding: 20px;
    border: 1px solid rgba(216, 216, 216,.5);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.product-page .product_card .product_info .product_info-handler .product_info-right .produnt_payment{
    width: 100%;
}
.product-page .product_card .product_info .product_info-handler .product_info-right .produnt_payment .product_total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-page .product_card .product_info .product_info-handler .product_info-right .produnt_payment .product_total-price p{
    font-size: 30px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-page .product_card .product_info .product_info-handler .product_info-right .produnt_payment .product_addtocartbtn{
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
